/* APB section */
.box {
    margin: 0 auto;
    padding: 48px 64px;
    /* border: #2B3B65 1px solid; */
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 15px 0px rgba(201, 242, 236, 0.44);
}

.title-box {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    margin: 0 0 0 0;
}

.subtitle-box {
    font-weight: 400;
    font-size: 18px;
    color: #2B3B65;
    max-width: 710px;
    width: 100%;
    min-width: 100%;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 10px;
}

.link-box {
    margin-top: 32px;
    padding: 10px 20px;
    background-color: #FF7A00;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 27px
}

.link-box:hover {
    background-color: #d86900;
}
/* end APB section */