.box {
    padding: 48px 64px;
    /* border: #2B3B65 1px solid; */
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 15px 0px rgba(201, 242, 236, 0.44);
}

.title-box {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    margin: 0 0 0 0;
}

.subtitle-box {
    font-weight: 400;
    font-size: 16px;
    color: #2B3B65;
    width: 710px;
}

.btn-box {
    width: fit-content;
    height: auto;
    margin-top: 32px;
    padding: 10px 20px;
}

.link-box {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}