.footer {
    margin-top: 100px;
    background-color: #2B2C2B;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 50px;
}

.list-items {
    display: flex;
    gap: 50px;
    align-items: center;
}
.item-link {
    list-style: none;
}

.item-link .link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.line {
    background-color: #3C3C3C;
    height: 2px;
    width: 1140px;
    margin: 0 auto;
}

.sosmed-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    margin-right: 150px;
    margin-top: 32px;
    padding-bottom: 50px;
}