/* hero section */
.hero-section {
    display: flex;
    align-items: center;
    margin-inline-start: clamp(20px, 8vw, 150px);
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}

.text-hero {
    flex-shrink: 1;
}

.hero-title {
    font-size: clamp(1rem, 4vw, 2.25rem);
    line-height: 40px;
    margin-left: -5px;
    font-weight: 700;
}

.title-hero1 {
    color: #1F2F59;
    font-weight: 700;
}
.title-hero2 {
    color: #FF7A00;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #2B3B65;
    margin-top: -32px;
    margin-bottom: 32px;
    line-height: 27px;
    max-width: 480px;
    width: 100%;
}

.btn-hero {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

.btn-hero:hover {
    background-color: #d86900;
}

.icon-row-right {
    padding-top: 3px;
}
.icon-row-right:hover {
    cursor: pointer;
}
.icon-row-right:hover {
    cursor: pointer;
}

.link-hero {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.img-hero {
    width: 538px;
    height: 400px;
    background-size: cover;
    object-fit: cover;
}

.hero-images .radius {
    border-radius: 20px 0 0 20px;
}

.hero-images {
    margin-left: 250px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 538px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0 , 0, 1);
    box-shadow: 0px -4px 10px -8px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 1);
}

@keyframes autoplay {
    0% { transform: translateX(0%); }
    40% { transform: translateX(-100%); }
    100% { transform: translateX(-100%); }
}

.img-hero {
    animation: autoplay 5s infinite;
}
/* end hero section */