.hero-section {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-hero {
    display: block;
}

.hero-title {
    font-size: 36px;
    line-height: 40px;
    margin-left: -5px;
    font-weight: 700;
}

.title-hero1 {
    color: #1F2F59;
    font-weight: 700;
}
.title-hero2 {
    color: #FF7A00;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #2B3B65;
    margin-top: -32px;
    margin-bottom: 32px;
    line-height: 27px;
    width: 480px;
}

.btn-hero {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

.icon-row-right {
    padding-top: 3px;
}
.icon-row-right:hover {
    cursor: pointer;
}
.icon-row-right:hover {
    cursor: pointer;
}

.link-hero {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.hero-images {
    margin-left: 130px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 20px;
}

.img-hero {
    width: 570px;
    height: 400px;
    border-radius: 20px;
}
.hero-images .radius {
    border-radius: 20px 0 0 20px;
}