/* hero section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-start: clamp(20px, 8vw, 150px);
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}

.text-hero {
    flex-shrink: 1;
}

.hero-title {
    font-size: 36px;
    line-height: 40px;
    margin-left: -5px;
    font-weight: 700;
}

.title-hero1 {
    color: #1F2F59;
    font-weight: 700;
}
.title-hero2 {
    color: #FF7A00;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #2B3B65;
    margin-top: -32px;
    margin-bottom: 32px;
    line-height: 27px;
    max-width: 480px;
    width: 100%;
}

.btn-hero {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

.btn-hero:hover {
    background-color: #d86900;
}

.icon-row-right {
    padding-top: 3px;
}
.icon-row-right:hover {
    cursor: pointer;
}
.icon-row-right:hover {
    cursor: pointer;
}

.link-hero {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.img-hero {
    max-width: 570px;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
    object-fit: cover;
}

.hero-images .radius {
    border-radius: 20px 0 0 20px;
}

.hero-images {
    margin-left: 270px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* overflow: hidden; */
    gap: 20px;
    flex-shrink: 0;
}
/* end hero section */