.lapor {
    margin-top: 100px;
}
.header-lapor {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-lapor {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 30px 0;
}

.btn-laporkan {
    padding: 10px 20px;
}

.link-laporkan {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttons .cta {
    text-align: end;
    margin-bottom: 0px;
}
.cta-lapor {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #5DC3B2;
}

/* .card-list {
    background-color: aqua;
} */

.lapor .card-list .card {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 180px;
    gap: 40px;
    border-radius: 20px;
    margin-bottom: 16px;
    border: 0;
    background-color: #FAFBFD;
    box-shadow: none;
}

.card-list .card .tgl-card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    margin: 0;
    margin-top: 50px;
    gap: 10px;  
}

.card-list .card .last {
    margin-top: -10px;
}

.garis-putus-putus {
    border-left: 2px dashed rgba(98, 193, 168, 0.2);
    height: 190px;
    margin-left: 17px;
    margin-top: -30px;
}

.tgl-card .lingkaran {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
    border: #5DC3B2 8px solid;
}

.tgl-card .tanggal {
    font-weight: 600;
    font-size: 18px;
    color: #1F2F59;
}

.card-list .card-content {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 0;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 2px 15px 0px rgba(201, 242, 236, 0.44);
    border-radius: 20px;
    background-color: #FFFFFF;
}

.card-list .card-content .image-card {
    height: 180px;
}

.card-list .card-content .image-card .img-card {
    width: 290px;
    height: 160px;
    margin: 10px;
    border-radius: 25px;
}

.content {
    display: block;
}

.content .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 555px;
    margin-right: 20px;
}

.content .category .category-item {
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    color: #8F8F8F;
}

.content .category .tanggapan {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content .category .tanggapan .tanggapan-item {
    background-color: #FFBF19;
    border-radius: 25px;
    padding: 5px 14px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}

.content .title-card {
    font-weight: 600;
    font-size: 20px;
    color: #1F2F59;
    max-width: 670px;
    margin: -10px 0 0 0;
}

.content .deskripsi {
    width: 500px;
    font-size: 16px;
}

.content .waktu {
    margin: 20px 0;
    font-weight: 400;
    font-size: 12px;
    color: #2B3B65;
}