.layanan {
    margin-top: 100px;
}
.header-layanan {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-layanan {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.layanan-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.layanan-card .card {
    display: block;
    width: 268px;
    height: 268px;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 5px 16px 0 rgba(201, 242, 236, 0.695);
    border-radius: 20px;
    text-align: center;
    background-color: #FFFFFF;
}

.icon-card {
    width: fit-content;
    height: fit-content;
    margin: 60px auto 20px auto;
}