.navbar {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    margin: 16px 150px;
}

.logo {
    width: 142px;
    height: auto;
}

.nav-links {
    margin-left: 105px;
    display: flex;
    gap: 50px;
    margin-right: 20px;
    list-style: none;
}

.list {
    white-space: nowrap;
    text-align: center;
}

.data-desa {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}


.link {
    font-weight: 500;
    font-size: 16px;
    color: #2B3B65;
    text-decoration: none;
}

.active {
    color: #FF7A00;
}

.btn-login {
    margin-left: 105px;
    padding: 16px 29px;
}

.link-login {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}