/* navbar */
.nav {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 16px auto;
    padding-inline: clamp(20px, 8vw, 150px);
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-around;
}


.hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.logo {
    max-width: 142px;
    height: auto;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding-inline-start: 0;
    padding: 0 10px;
}

.list {
    white-space: nowrap;
    text-align: center;
}

.data-desa {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}


.link {
    font-weight: 500;
    font-size: 16px;
    color: #2B3B65;
    text-decoration: none;
    transition-duration: 0.2s;
}


.link:hover {
    color: #FF7A00;
}

.active {
    color: #FF7A00;
}

.btn-login {
    padding: 16px 29px;
}

.btn-login:hover {
    background-color: #d86900;
}

.link-login {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
/* end navbar */