/* peta section */
.peta {
    display: flex;
    background-color: #FFFFFF;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.079);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.079);
    margin-top: 100px;
    justify-content: space-between;
}

.header-peta {
    width: fit-content;
    text-align: center;
}

.title-peta {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0;
}

.isi {
    margin: 64px 0 64px 150px;
}

.isi .deskripsi {
    margin-top: 30px;
    max-width: 568px;
    width: 100%;
}

.list-icons {
    margin-top: 42px;
}

.item-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -35px;
}

.icon-peta {
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
}

.text-icon {
    font-weight: 400;
    font-size: 16px;
    color: #485372;
    max-width: fit-content;
    width: 100%;
}

.link-btn {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: fit-content;
    margin-top: 42px;
    background-color: #FF7A00;
    border-radius: 27px;
}

.link-btn:hover {
    background-color: #d86900;
}

.img-peta {
    max-width: 700px;
    width: 100%;
    height: 620px;
}

.peta-img {
    width: 100%;
    height: 620px;
    background-size: cover;
    object-fit: cover;
}
/* end peta section */