* body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFBFD;
    font-weight: 400;
    font-style: normal;
}

/* template */
.btn {
    background-color: #FF7A00;
    border-radius: 27px;
    text-align: center;
    display: inline-block;
}

.container {
    margin: 0 150px;
    /* background-color: rgb(255, 177, 177); */
}