* body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFBFD;
    font-weight: 400;
    font-style: normal;
}

/* template */
.btn {
    background-color: #FF7A00;
    border-radius: 27px;
    text-align: center;
    display: inline-block;
}

.navbar {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    margin: 16px 150px;
}

.logo {
    width: 142px;
    height: auto;
}

.nav-links {
    margin-left: 105px;
    display: flex;
    gap: 50px;
    margin-right: 20px;
    list-style: none;
}

.list {
    white-space: nowrap;
    text-align: center;
}

.data-desa {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}


.link {
    font-weight: 500;
    font-size: 16px;
    color: #2B3B65;
    text-decoration: none;
}

.active {
    color: #FF7A00;
}

.btn-login {
    margin-left: 105px;
    padding: 16px 29px;
}

.link-login {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.hero-section {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.text-hero {
    display: block;
}

.hero-title {
    font-size: 36px;
    line-height: 40px;
    margin-left: -5px;
    font-weight: 700;
}

.title-hero1 {
    color: #1F2F59;
    font-weight: 700;
}
.title-hero2 {
    color: #FF7A00;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #2B3B65;
    margin-top: -32px;
    margin-bottom: 32px;
    line-height: 27px;
    width: 480px;
}

.btn-hero {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
}

.icon-row-right {
    padding-top: 3px;
}
.icon-row-right:hover {
    cursor: pointer;
}
.icon-row-right:hover {
    cursor: pointer;
}

.link-hero {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.hero-images {
    margin-left: 130px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 20px;
}

.img-hero {
    width: 570px;
    height: 400px;
    border-radius: 20px;
}
.hero-images .radius {
    border-radius: 20px 0 0 20px;
}

.container {
    margin: 0 150px;
    /* background-color: rgb(255, 177, 177); */
}

.box {
    padding: 48px 64px;
    /* border: #2B3B65 1px solid; */
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 15px 0px rgba(201, 242, 236, 0.44);
}

.title-box {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    margin: 0 0 0 0;
}

.subtitle-box {
    font-weight: 400;
    font-size: 16px;
    color: #2B3B65;
    width: 710px;
}

.btn-box {
    width: fit-content;
    height: auto;
    margin-top: 32px;
    padding: 10px 20px;
}

.link-box {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.berita {
    margin-top: 100px;
}

.header-berita {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-berita {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.border-bottom {
    border-bottom: #FF7A00 5px solid;
    width: 85px;
    margin: 0 auto;
}

.subtitle-berita {
    font-weight: 400;
    font-size: 16px;
    color: #2B3B65;
    margin: 20px 0 32px 0;
}

.cta {
    text-align: end;
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.cta-berita {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #5DC3B2;
}

.card-berita {
    display: block;
    
}

.card {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 180px;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px rgba(201, 242, 236, 0.44);
    margin-bottom: 16px;
    background-color: #FFFFFF;
}

.card-berita .background-hijau {
    height: 500px;
    top: 1400px;
}

.card-berita .background-gelombang-bawah {
    background-image: url(../img/gelombang-bawah.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -150px;
    width: 100%;
    height: 100%;
    top: 1825px;
    z-index: -1;
}

.image-card {
    width: fit-content;
    height: fit-content;
    

}
.img-card {
    width: 300px;
    height: 180px;
    border-radius: 20px 0 0 20px;
}
.content-card {
    display: block;
    height: 180px;

}
.tgl-card {
    font-weight: 300;
    font-size: 14px;
    color: #FF7C04;
    margin: 20px 0 0 0;
}
.title-card {
    font-weight: 600;
    font-size: 20px;
    color: #1F2F59;
    margin: 4px 0 0 0;
}
.subtitle-card {
    font-weight: 400;
    font-size: 14px;
    color: #2B3B65;
    margin: 4px 0 0 0;
    width: 780px;
}
.btn-card {
    margin: 10px 0 20px 0;
}
.btn2-card {
    margin: 30px 0 20px 0;
}
.link-berita {
    font-weight: 500;
    font-size: 12px;
    color: #5DC3B2;
    text-decoration: none;
}

.informasi {
    margin-top: 100px;
}

.header-informasi {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-informasi {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.subtitle-informasi {
    font-weight: 400;
    font-size: 16px;
    color: #2B3B65;
    margin: 20px 0 32px 0;
}

.cta {
    text-align: end;
    margin-bottom: 16px;
}

.cta-informasi {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #5DC3B2;
}
.card-informasi .card .btn-card .link-informasi {
    font-weight: 600;
    font-size: 16px;
    color: #FF7A00;
    text-decoration: none;
}
.card-informasi {
    display: block;
    
}

.card-informasi .card {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 180px;
    gap: 20px;
    border-radius: 20px;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 0px 10px 0 rgba(201, 242, 236, 0.695);
    margin-bottom: 16px;
}
.card-informasi .card .content-card {
    display: block;
    width: 670px;
    height: auto;
    padding: 20px 0;
}
.tanggal-card {
    display: block;
    width: 220px;
    float: left;
    padding: 20px 0 20px 38px;
}
.tanggal-card-3 {
    display: flex;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;
    padding: 20px 0 20px 38px;
}
.tgl-card-informasi {
    font-weight: 600;
    font-size: 50px;
    color: #FF7C04;
    margin: 0;
}
.tgl-card-informasi2 {
    font-weight: 600;
    font-size: 25px;
    color: #2B3B65;
    margin: -12px 0 0 0;
}
.tgl-card-informasi3 {
    font-weight: 200;
    font-size: 14px;
    color: #2B3B65;
    margin: 0;
}
.tgl-3 {
    font-size: 30px;
    width: fit-content;
}
.tgl-4 {
    font-size: 21px;
    margin-top: 5px;
    margin-left: 2px;
    width: fit-content;
}
.tgl-5 {
    margin-top: -40px;
}
.card-informasi .card .content-card .title-card {
    font-weight: 600;
    font-size: 20px;
    color: #1F2F59;
    max-width: 670px;
    margin: 4px 0 0 0;
}
.card-informasi .card .content-card .subtitle-card {
    font-weight: 400;
    font-size: 14px;
    color: #2B3B65;
    padding: 4px 0 0 0;
    max-width: 670px;
}
.card-informasi .card .btn-card {
    margin: auto 0;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    border: #FF7A00 2px solid;
}
.card-informasi .card .btn2-card {
    margin: 30px 0 20px 0;
}


.potensi {
    margin-top: 100px;
}
.header-potensi {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-potensi {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.list-items {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    height: 70px;
}

.item {
    background-color: #5DC3B2;
    border-radius: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.list-links .bck-color {
    background-color: #E2F3F2;
}
.list-links .transparansi {
    background-color: #FAFBFD;
}

.list-links .transparansi .link-potensi {
    color: #5DC3B2;
}

.link-potensi {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    
}
/* list 2 */
.list-items-2 {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-links-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    padding: 0;
    height: 70px;
}

.item-2 {
    background-color: #FF7A00;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
}

.link-potensi-2 {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.cta-potensi {
    text-align: end;
    margin: -102px 31px 102px 0;
}

.cta-potensi {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #5DC3B2;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.background-gelombang {
    background-image: url(../img/gelombang.png);
    background-repeat: no-repeat;
    position: absolute;
    margin-left: -150px;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 2880px;
}

.background-hijau {
    background-color: #EEF9FB;
    position: absolute;
    margin-left: -150px;
    width: 100%;
    height: 900px;
    top: 3120px;
    z-index: -1;
}

.card-potensi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    width: 1061px;
    height: auto;
    margin: 0 auto;
}

.card-potensi-item {
    width: 325px;
    height: 380px;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 1px 20px 0 rgba(0, 0, 0, 0.079);
    border-radius: 25px;
    background-color: #FFFFFF;
}

.card-image {
    width: 290px;
    height: 172px;
    margin: 16px 16px 0 16px ;
    border-radius: 25px;
}

.img-card-potensi {
    width: 290px;
    height: 172px;
    border-radius: 25px;
}

.card-content {
    margin: 0 16px 0 16px;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-item {
    font-weight: 400;
    font-size: 14px;
    padding: 5px 15px;
    background-color: #DFF3F0;
    border-radius: 25px;
    color: #5DC3B2;
}

.harga-item {
    font-weight: 400;
    font-size: 16px;
    color: #36456A;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    color: #1F2F59;
    margin: -8px 0 0 0;
}

.deskripsi {
    font-weight:300;
    font-size: 16px;
    width: 296px;
    margin: -2px 0 0 0;
}


.layanan {
    margin-top: 100px;
}
.header-layanan {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-layanan {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.layanan-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.layanan-card .card {
    display: block;
    width: 268px;
    height: 268px;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 5px 16px 0 rgba(201, 242, 236, 0.695);
    border-radius: 20px;
    text-align: center;
    background-color: #FFFFFF;
}

.icon-card {
    width: fit-content;
    height: fit-content;
    margin: 60px auto 20px auto;
}


.lapor {
    margin-top: 100px;
}
.header-lapor {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.title-lapor {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 30px 0;
}

.btn-laporkan {
    padding: 10px 20px;
}

.link-laporkan {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttons .cta {
    text-align: end;
    margin-bottom: 0px;
}
.cta-lapor {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #5DC3B2;
}

/* .card-list {
    background-color: aqua;
} */

.lapor .card-list .card {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    height: 180px;
    gap: 40px;
    border-radius: 20px;
    margin-bottom: 16px;
    border: 0;
    background-color: #FAFBFD;
    box-shadow: none;
}

.card-list .card .tgl-card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    margin: 0;
    margin-top: 50px;
    gap: 10px;  
}

.card-list .card .last {
    margin-top: -10px;
}

.garis-putus-putus {
    border-left: 2px dashed rgba(98, 193, 168, 0.2);
    height: 190px;
    margin-left: 17px;
    margin-top: -30px;
}

.tgl-card .lingkaran {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #ffffff;
    border: #5DC3B2 8px solid;
}

.tgl-card .tanggal {
    font-weight: 600;
    font-size: 18px;
    color: #1F2F59;
}

.card-list .card-content {
    display: flex;
    width: 100%;
    gap: 20px;
    margin: 0;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 2px 15px 0px rgba(201, 242, 236, 0.44);
    border-radius: 20px;
    background-color: #FFFFFF;
}

.card-list .card-content .image-card {
    height: 180px;
}

.card-list .card-content .image-card .img-card {
    width: 290px;
    height: 160px;
    margin: 10px;
    border-radius: 25px;
}

.content {
    display: block;
}

.content .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 555px;
    margin-right: 20px;
}

.content .category .category-item {
    font-weight: 400;
    font-size: 14px;
    background-color: transparent;
    padding: 0;
    color: #8F8F8F;
}

.content .category .tanggapan {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content .category .tanggapan .tanggapan-item {
    background-color: #FFBF19;
    border-radius: 25px;
    padding: 5px 14px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
}

.content .title-card {
    font-weight: 600;
    font-size: 20px;
    color: #1F2F59;
    max-width: 670px;
    margin: -10px 0 0 0;
}

.content .deskripsi {
    width: 500px;
    font-size: 16px;
}

.content .waktu {
    margin: 20px 0;
    font-weight: 400;
    font-size: 12px;
    color: #2B3B65;
}

.peta {
    display: flex;
    background-color: #FFFFFF;
    /* border: #2B3B65 1px solid; */
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.079);
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.079);
    margin-top: 100px;
    justify-content: space-around;
}

.header-peta {
    width: fit-content;
    text-align: center;
}

.title-peta {
    font-weight: 600;
    font-size: 32px;
    color: #1F2F59;
    width: fit-content;
    margin: 0;
}

.isi {
    margin: 64px 0 64px 150px;
}

.isi .deskripsi {
    margin-top: 30px;
    width: 568px;
}

.list-icons {
    margin-top: 42px;
}

.item-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -35px;
}

.icon-peta {
    width: 40px;
    height: 40px;
}

.text-icon {
    font-weight: 400;
    font-size: 16px;
    color: #485372;
}

.btn-peta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: fit-content;
    margin-top: 42px;
}

.btn-peta .link-btn {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.img-peta {
    width: 710px;
    height: 620px;
}

.peta-img {
    width: 100%;
    height: 620px;
    background-size: cover;
}

.footer {
    margin-top: 100px;
    background-color: #2B2C2B;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding-top: 50px;
}

.list-items {
    display: flex;
    gap: 50px;
    align-items: center;
}
.item-link {
    list-style: none;
}

.item-link .link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.line {
    background-color: #3C3C3C;
    height: 2px;
    width: 1140px;
    margin: 0 auto;
}

.sosmed-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    margin-right: 150px;
    margin-top: 32px;
    padding-bottom: 50px;
}