body {
        font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFBFD;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/* template */
.btn {
    background-color: #FF7A00;
    border-radius: 27px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

img {
    object-fit: cover;
}
/* end */

/* main */
.container {
    max-width: 1440px;
    margin: 0 150px;
    box-sizing: border-box;
    /* background-color: rgb(255, 177, 177); */
}
